---
// Renders and styles blog posts in @src/content/blog
import type { CollectionEntry } from "astro:content"
import { getCollection } from "astro:content"
import BlogLayout from "@src/layouts/BlogLayout.astro"

export async function getStaticPaths() {
  const posts = await getCollection("blog")
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))
}

type Props = CollectionEntry<"blog">
const post = Astro.props
const { Content } = await post.render()
---

<BlogLayout>
  <article class="">
    <h1 class="text-3xl font-bold">{post.data.title}</h1>
    <p class="pt-2 text-neutral-600">
      {
        new Date(post.data.publishDate).toLocaleDateString("en-US", {
          year: "numeric",
          month: "short",
          day: "numeric",
        })
      }
    </p>
    <p>
      <span class="text-sm font-semibold text-neutral-600"
        >{post.data.tags.join(", ").toLowerCase()}</span
      >
      <!-- tags -->
    </p>
    <div class="markdown-content py-4">
      <Content />
    </div>
  </article>
</BlogLayout>
