<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Blog</title>
  </head>
  <body>
    <header>
      <nav class="flex gap-2 px-4 pt-2 underline">
        <a href="/">Home</a> 
        <a href="/blog">Blog</a> 
      </nav>
    </header>
    <main class="px-8 py-4">
      <slot />
    </main>
  </body>
</html>