<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Blog</title>
  </head>
  <body class="mx-auto flex max-w-2xl flex-col justify-center">
    <header>
      <nav class="flex justify-center gap-2 p-4 underline">
        <a href="/">☆ Home ☆</a>
        <span> | </span>
        <a href="/blog">☆ Blog ☆</a>
      </nav>
    </header>
    <main class="mx-auto max-w-2xl px-8 py-4">
      <slot />
      <!-- Blog posts go here -->
    </main>
  </body>
</html>
